.card {
  box-shadow: 0 10px 36px 0 rgba(0,0,0,0.75);
  display: inline-block;
  float: left;
  height: 125px;
  position: relative;
  width: 200px;

  .card__number {
    color: black;
    font-size: 20px;
    float: left;
  }

  .card__family {
    color: red;
    float: right;
  }

  .card__img {
    font-size: 14px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 75px;
    height: 75px;
  }
}

.card__front {
  display: block;
}

.card__back {
  display: none;
}

@media(min-width: 768px) {

}

@media(min-width: 960px) {
  
}
